@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --text-primary: #171717;
  --text-secondary: #6b7280;

  --card: #ffffff;
  --card-bg: #ffffff;

  --border: #d2d5db; 

  --icon: #171717;
  --kreis: #f1f1f1;

  --accent: #ab670fed;
}


@media (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --background: #181818;
    --foreground: #ffffff;

    --text-primary: #ffffff;
    --text-secondary: #e3e3e3;

    --card: #181818;
    --card-bg: #181818;


    --border: #ffffff;

    --icon: #ffffff;
    --kreis: #343434;

    --accent: #ff9100ed;
  }
}

html[data-theme="dark"] {
  --background: #181818;
  --foreground: #ffffff;

  --text-primary: #ffffff;
  --text-secondary: #e3e3e3;

  --card: #181818;
  --card-bg: #181818;

  --border: #ffffff; 

  --icon: #ffffff;
  --kreis: #343434;

  --accent: #ff9100ed;
}


body {
  background: var(--background);
  color: var(--foreground);
}

.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
